body {
  background-color: #eeeeee;
  color: #111111;
}
canvas {
  border: 1px solid;
}
.container {
  display: flex;
}
.left {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.right {
  margin-top: 40px;
  display: flex;
  width: 30%;
  justify-content: center;
}
form {
  width: 90%;
}
input {
  width: 80%;
}
#submit {
  width: 80%;
  color: white;
  background-color: blue;
  padding: 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
#change {
  width: 80%;
  margin: 10px 0;
  padding: 5px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
form > div,
#right > div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
